{% extends 'base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block body %}
    <div >
        <img src="{{ asset('images/contentImg/error-404.png') }}" alt="error_page" width="100%">
    </div>
{% endblock %}