{% extends 'base.html.twig' %}

{% block title %}Service Atelier
{% endblock %}

{% block body %}

<div class="row justify-content-center">
{% for service in services %}
	{% include "components/_card.html.twig" %}
{% endfor %}
</div>

{% endblock %}
