{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block body %}
    <div class="container mt-4">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% include "login/form.html.twig" %}

		<div class="row">
			<div class="col-md-8">
				<img src="{{ asset('images/contentImg/home_garage.png') }}" alt="home_Garage" width="80%">
			</div>
		</div>
	</div>

{% endblock %}
