{% extends 'base.html.twig' %}

{% block title %}Annonces de voitures occasions
{% endblock %}

{% block body %}
<div class="container js-filter">
    <div class="row">
        <div class="col-md-3">
            <div class="container text-center my-3">
                <div class="row bg-secondary m-2 rounded">
                    {% include "components/_search.html.twig" %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row justify-content-center js-filter-content">
                {% include 'notice/_notice.html.twig' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}