{% extends 'base.html.twig' %}

{% block title %}Votre avis{% endblock %}

{% block body %}
<div class="container">
		<h1>Votre avis compte</h1>

		{{ form(form) }}
		
	{% include "opinion/_star.html.twig" %}
</div>
{% endblock %}
